
$page-background: rgba(229, 231, 235, 0.4);
$overlay-background: rgba(0,0,0, 0.4);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Norse;
    src: url(../dist/assets/Norse-Bold.otf);
}
  
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

img {
    width: 100%;
    height: 100%;
}

.page-flex {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.side-img {
    position: relative;
    flex: 1 1 30%;
}

.odin-overlay{
    position: absolute;
    top: 20%;
    display: flex;
    height: fit-content;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: $overlay-background;
    padding: 2% 0;

    img {
        width: 6rem;
    }

    h1{
        color: white;
        font-family: Norse;
        font-size: 5.25rem;
        font-weight: 50;
    }
}

%form-field{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.main-content {
    flex: 1 1 70%;
    background-color: $page-background; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10%;

    .intro-text{
        padding: 0 25% 0 5%;
    }
}

.sign-up-form-container{
    width: 100%;

    h2, button {
        margin: 0 25% 0 5%;
    }

    button{
        margin-top: 2%;
    }

    h2{
        margin-bottom: 2%;
    }
}

.main-form-content{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 0 25% 0 5%;

    div {
        @extend %form-field;
    }
}



  